/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/


tags

.vscode

.rspec_status


log/
spec/dummy/log
spec/dummy/coverage
spec/dummy/spec/visual_screenshots/
spec/dummy/spec/lookbook_visual_tester/